body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    border: #e56b6f solid;
    background-color: #e56b6f;
    position: relative;
    top: 0px;
}

#titulo {
    text-align: center;
    color: rgb(253, 251, 251);
}