body {
    background-color: rgb(253, 251, 251);
    font-family: sans-serif;
}

#cabecalho {
    border: #e56b6f solid;
    background-color: #e56b6f;
    position: static;
    top: 0;
    margin: 0;
    padding: 0;
}

#titulo {
    text-align: center;
    font-family: serif;
    color: rgb(253, 251, 251);
}

#navegacao {
    font-size: 15px;
    color: rgb(253, 251, 251);
    margin-left: 20px;
    word-spacing: 3 px;
    }

nav a {
    text-decoration: none;
    color: rgb(253, 251, 251);
}

#minha_foto {
    width: 200px;
    }

#licoes_aprendidas {
   display: inline-block;
   width: 200px;
}

#licoes_a_aprender {
    display: inline-block;
}

h2 {
    font-family: serif;
}
